* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    background: rgb(64,65,78);
}


#wrap {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

table {
    border: 1px #aeaeae solid;
    font-size: 0.9em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    width: 80%;
    /* width: 950px;     */
    margin: 150px auto 0 auto;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

/* #test {
    display: block;
    width: 500px;
    height: 500px;
    position: absolute;
    background: #e5e5e5;
} */

#sortBox {
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 90px;
    height: 24px;
    border: 1px solid #e5e5e5;
    color: #FABE19;
    font-size: 1.1em;
    position: relative;
    top: 135px;
    left: 145px;
}

#sortBox::after {
    content: "▾";
    position: absolute;
    top: 0;
    right: 8px;
}

#sortSwitch {    background: rgb(64,65,78);
    color: #e5e5e5;
    padding-left: 10px;
    border: none;
    width: 88px;
    height: 22px;;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
}


h2 {
    display: inline-block;
    padding: 50px 0 0 50px;
}

.th {
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    background: rgb(32,33,35);
    text-align: center;
}

.index {
    width: 9%;
}

.subject {
    width: 53%;
    padding-left: 30%;
}

.writer {
    width: 15%;
}

.date {
    width: 11%;
}

.hit {
    width: 6%;
}

.likeit {
    width: 6%;
}


#btnBox {
    margin: 25px auto;
    display: flex;
    justify-content:space-around;
    text-align: center;
    width: 20%;
    position: relative;
}

#btnBox > p {
    position: absolute;
    left: -150%;
    float: left;
    color: #ddd;
    font-size: 0.8em;
}


.paging {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 240px;
}

.pageMove {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    /* border: #514941 1px solid; */
    /* background-color: #514941; */
    text-decoration: none;
}
.pageMove > button {
    border: none;
}


.prev, .next {
    justify-content: center;
    width: 100px;
}

.prev > button , .next > button {
    cursor: pointer;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border: none;
    border-radius: 3px;
    background-color: rgb(32,33,35);
    color: #fff;
    text-align: center;
}

.prev > button:hover,.next > button:hover {
    background-color: #333;
    color: #FABE19;
    cursor: pointer;
}


.goWrite > button {
    position: absolute;
    width: 110px;
    height: 40px;
    border: none;
    border-radius: 4px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    background: rgb(32,33,35);
    right: -150%;
    float: right;
}

.goWrite > button > a {
    color: #FABE19;
    font-size: 1.2em;
    text-decoration: none;
}

.goWrite > button:hover {
    background: #333;
    cursor: pointer;
}


#searchBox {
    margin: 20px auto 100px auto;
    display: flex;
    justify-content:space-around;
    text-align: center;
    width: 40%;
    position: relative;
}

#searchBox > form > div {
    width: 100%;
    height: 24;
    border-radius: 4px;
    background: #fff;
}

#searchBox > form > div > select {
    border: none;
    outline: none;
}

#searchBox > form > div > input {
    border: none;
    outline: none;
    padding-left: 4px;
}

#searchBox > form > div > button {
    width: 38px;
    height: 24px;
    border: none;
    border-radius: 0 4px 4px 0;
    line-height: 12px;
    text-align: center;
    background: rgb(32,33,35);
}



#searchBox > form > div > button:hover {
    background: #333;
    cursor: pointer;
}


td {
    /* border-bottom: 1px solid rgba(0, 0, 0, .1); */
    /* background: #fff; */
    padding: 1em .5em;
    vertical-align: middle;
    text-align: center;
}

tbody > tr:nth-child(odd) {
    background: #fff;
}

tbody > tr:nth-child(even) {
    background: #f5f5f5;
}

tr>td:nth-child(2) {
    text-align: left;
}

a {
    color: rgb(32,33,35);
    text-decoration: none;
}

@media all and (max-width: 768px) {

    table,
    thead,
    tbody,
    .th,
    td,
    tr {
        display: block;
    }


    table {
        position: relative;
        padding-bottom: 0;
        border: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    }

    thead {
        float: left;
        white-space: nowrap;
    }

    tbody {
        overflow-x: auto;
        overflow-y: hidden;
        position: relative;
        white-space: nowrap;
    }

    tr {
        display: inline-block;
        vertical-align: top;
    }

    td {
        border-bottom: 1px solid #e5e5e5;
    }


}

td > form {
    display: inline-block;
}

.delete_item {
    background-color: transparent;
    border: none;
    margin-right: 10px;
}
